.logo {
  position: relative;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: auto 389px;

  &::before {
    content: "";
    position: absolute;
    left: calc(100% / 2 - 51px);
    top: -56px;

    min-width: 102px;
    min-height: 83px;

    background-image: url("../img/logo-sedona-mobile.svg");
    background-repeat: no-repeat;
    background-size: 102px auto;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;

    width: 100%;
    height: 18%;

    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
    background-size: 102% auto;
    background-position-y: bottom;
    background-position-x: center;
  }
}

.logo__main {
  display: block;
  box-sizing: border-box;
  padding-top: 146px;
  padding-bottom: 85px;
  width: 92.5%;
  max-height: 445px;
  margin: 0 auto;
}

.logo__sab {
  display: block;
  box-sizing: border-box;
  padding-top: 52px;
  padding-bottom: 65px;
  width: 71.5%;
  max-height: 290px;
  margin: 0 auto;
}

@media (min-width: 767px) {
  .logo {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: 100% auto;
    background-position: bottom;

    &::before {
      top: -56px;

      background-image: url("../img/logo-sedona-tablet.svg");
    }

    &::after {
      height: 20%;

      background-image: url("../img/bg-intro-triangle-tablet.svg");
      background-size: 100% auto;
      background-position-y: bottom;
    }
  }

  .logo__main {
    padding-top: 77px;
    padding-bottom: 91px;
    width: 69.89%;
    max-height: 518px;
  }

  .logo__sab {
    display: block;
    box-sizing: border-box;
    padding-top: 95px;
    padding-bottom: 116px;
    width: 59.5%;
    max-height: 300px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .logo {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: 100% auto;
    background-position: bottom;

    &::before {
      top: -56px;
      left: calc(100% / 2 - 94px);

      min-width: 188px;
      min-height: 96px;

      background-image: url("../img/logo-sedona-desktop.svg");
      background-size: 188px auto;
    }

    &::after {
      background-image: url("../img/bg-intro-triangle-desktop.svg");
      background-position-y: bottom;
    }
  }

  .logo__sab {
    padding-top: 8.6%;
    padding-bottom: 9.8%;
  }
}
