.nav {
  position: relative;

  .font(center; uppercase);
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
}

.nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;

  li {
    display: flex;
  }
}

.nav__item {
  width: 100%;
  padding: 7.5px;

  text-decoration: none;
  color: #ffffff;

  background-color: #81b3d2;
  box-shadow: inset 0px -1px 0 0 rgba(1, 1, 1, 0.2),
    inset 0px 1px 0 0 rgba(255, 255, 255, 0.2);

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #5496bd;
  }
}

.nav__button {
  position: absolute;
  right: 16px;

  width: 23px;
  height: 22px;

  border: none;
  background-color: transparent;

  &--close {
    top: 16px;

    background-image: url("../img/icon-cross.svg");
  }

  &--show {
    bottom: -42px;

    background-image: url("../img/icon-menu.svg");
  }
}
