@import "main-form.less";
.page-feedback {
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;

  &__wrapper {
    margin: 20px 20px 20px 20px;
  }

  &__title {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: #333333;
  }
}
