.page-feedback {
  .font(center; uppercase);
}

.page-feedback__form {
  padding-bottom: 2px;
}

.page-feedback__wrapper {
  margin: 12.2% 3% 5.2%;
}

.page-feedback__title {
  margin-bottom: 8.7%;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.page-feedback__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
}

.page-feedback__popup {
  position: fixed;
  top: calc(50% - 140px);

  display: none;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 5;

  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);

  &--error {
    left: calc(50% - ($width / 2));
    padding: 35px 40px;
    min-height: 280px;
    width: 320px;
  }

  &--sent {
    left: calc(50% - ($width / 2));
    width: 320px;
  }
}

.page-feedback__popup-wrapper {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 43px 40px 20px;
  min-height: 225px;
}

.page-feedback__popup-title {
  margin: 0 0;

  font-size: 18px;
  line-height: 26px;
}

.page-feedback__popup-text {
  margin: 0 0;

  font-size: 14px;
  line-height: 24px;
}

.page-feedback__error-button {
  width: 180px;
}

.page-feedback__sent-button {
  width: 100%;
}

.page-feedback__button-wrapper {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  min-height: 98px;

  background-color: #f2f2f2;
}

.page-feedback__popup--show {
  display: flex;
}

@media (min-width: 768px) {
  .page-feedback__title {
    margin-bottom: 7%;

    font-size: 30px;
  }

  .page-feedback__wrapper {
    margin: 75px auto 74px;
    width: 439px;
  }

  .page-feedback__form {
    padding: 0 7.81%;
  }

  .page-feedback__popup {
    top: calc(50% - 140px);

    &--error {
      left: calc(50% - ($width / 2));

      padding: 46px 62px 49px;
      width: 400px;
      min-height: 347px;
    }

    &--sent {
      left: calc(50% - ($width / 2));

      width: 640px;
    }
  }

  .page-feedback__popup-wrapper {
    padding: 60px 110px 20px;
    min-height: 201px;
  }

  .page-feedback__error-button {
    width: 100%;
  }

  .page-feedback__popup-title {
    margin: 7px 0 9px;

    font-size: 30px;
    line-height: 40px;
  }

  .page-feedback__button-wrapper {
    padding: 44px 91px;
    width: calc(100%);
    min-height: 146px;

    background-color: #f2f2f2;
  }
}

@media (min-width: 1200px) {
  .page-feedback__wrapper {
    margin: 113px auto 59px;
  }

  .page-feedback__form {
    padding: 0 10.2%;
  }
}
