.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;

  .font(center; uppercase);
}

.page-footer__title {
  margin: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
