.page-multimedia {
  .font(center; uppercase);
}

.page-multimedia__wrapper {
  margin: 20px;
}

.page-multimedia__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.page-multimedia__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
}
