.social {
  display: flex;
  justify-content: center;
  padding: 0;
}

.social__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  list-style: none;
  background-color: #81b3d2;
}

.social__icon {
  width: 20px;
  height: 20px;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 46px;
  height: 48px;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .social {
    margin: 0;
  }

  .social__wrapper {
    margin: 3px;
  }
}
