.tour {
  position: relative;

  .font(center; uppercase);
}

.tour__title {
  margin: 20px 3%;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.tour__text {
  display: inline;
  // margin-block-start: 0;
  // margin-block-end: 0;
  // margin-top: 20px;
  // margin-right: 3%;
  // margin-left: 3%;


  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
}

.tour__wrapper {
  padding: 10px 5% 30px;
}

.tour__buttom {
  display: block;
  padding: 16px 0;
  margin: 34px auto 19px;
  width: 280px;

  font-size: 21px;
  line-height: 26px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;

  background-color: #81b3d2;
}

.tour__map {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .tour__title {
    margin: 25px 3% 32px;

    font-size: 30px;
  }

  .tour__text {
    display: block;
    margin: 0;

    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: #333333;
  }

  .tour__wrapper {
    padding: 30px 5%;
  }

  .tour__buttom {
    margin: 41px auto 28px;
    width: 458px;
  }
}

@media (min-width: 1200px) {
  .tour__buttom {
    margin: 45px auto 36px;
  }
}
