.tour {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;

  &__title {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
  }

  &__text {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #333333;
  }
}
.tour__buttom {
  padding: 16px 0;
  margin: 40px 0;
  width: 280px;

  font-size: 21px;
  line-height: 26px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;

  background-color: #81b3d2;
}
.tour__map {
  margin: 10px 0;
}
